#main{
    min-height: 1000px;
    border-style: solid;
}
#header{
    background-color: greenyellow;
    height: 40px;
    width: 100%;
   
}
a{
    list-style: none;
    padding: 10px 14px;
    display: inline-block;
    margin-left: 50px;
}
.ora{
    width: 100%;
    height: 900px;
  background-repeat: no-repeat;
  background-image:linear-gradient(0,0,0.25),url(doc.jpg)
  background-size: contain;
  margin-top: 20px;
  list-style: none;
}
.orn{
    background-color: greenyellow;
    border-radius: 5px;
    margin-top: 300px;
}
.uwa{
    width: 50%;
    height: 100px;
    background-image: url(images.jpg);
    background-size: auto;
    padding-bottom: 1000px;
}